
# Dependency directories
node_modules/

# Playwright outputs
test-results/
playwright-report/
blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure reports
allure-results/
allure-report/

# Environment variables
.env

# Test artifacts
*.png
*.jpg
*.webm

# System files
.DS_Store
Thumbs.db