name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'microsoft'
        java-version: '17'

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    # ОЧИСТКА: Удаляем старые результаты, которые могли прийти из репозитория
    - name: Clear old results
      run: rm -rf allure-results && mkdir allure-results

    - name: Run Playwright tests
      run: npx playwright test
      continue-on-error: true

    # Стягиваем ПОЛНУЮ историю для графика Trend
    - name: Download Allure history
      continue-on-error: true
      run: |
        mkdir -p allure-results/history
        URL="https://dmytrokyslyak.github.io/limelight-qa/history"
        curl -s $URL/history.json -o allure-results/history/history.json
        curl -s $URL/duration-trend.json -o allure-results/history/duration-trend.json
        curl -s $URL/retry-trend.json -o allure-results/history/retry-trend.json
        curl -s $URL/categories-trend.json -o allure-results/history/categories-trend.json
        curl -s $URL/trends.json -o allure-results/history/trends.json

    - name: Generate Allure Report
      if: always()
      run: |
        npm install -g allure-commandline
        allure generate allure-results --clean -o allure-report

    - name: Upload Pages artifact
      if: always()
      uses: actions/upload-pages-artifact@v3
      with:
        path: allure-report/

    - name: Deploy to GitHub Pages
      if: always()
      id: deployment
      uses: actions/deploy-pages@v4

    - name: Download Allure history
        continue-on-error: true
        run: |
          mkdir -p allure-results/history
          URL="https://dmytrokyslyak.github.io/limelight-qa/history"
          curl -s $URL/history.json -o allure-results/history/history.json
          curl -s $URL/trends.json -o allure-results/history/trends.json
          curl -s $URL/duration-trend.json -o allure-results/history/duration-trend.json
          curl -s $URL/categories-trend.json -o allure-results/history/categories-trend.json
          curl -s $URL/retry-trend.json -o allure-results/history/retry-trend.json